<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>

  </style>
  <link rel="stylesheet" href="{{ url_for('static',  filename='style.css') }}">

</head>

<body>
  <div class="hero">
    <h1>Sentiment score</h1>
    <table>

      {%for item in data%}
      <tr>
        {%for i in item%}
        <td>{{i}}</td>
        {%endfor%}
      </tr>
      {%endfor%}
    </table>
  </div>
</body>

</html>